/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://i.ibb.co/85gRN0L/space.jpg);
    background-position: 50% 0;
    overflow-x: hidden;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}

/* HEADER STYLING */
header {
    position: fixed;
    left: 0;
    right: 0;
    width: calc(100% - 200px);
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
}
.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text h4 {
    font-size: 38px;
}

    /* HEADER IMAGE STYLING */
    .logo img {
        width: 10rem;
        z-index: -5;
    }

    /* HAMBURGER STYLING */
    .hamburger {
        max-width: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hamburger span {
        width: 50px;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        float: left;
        margin: 0 0 10px;
        transition: all ease 0.3s;
    }
    .hamburger span:last-child {
        margin-bottom:  0;
    }
    .hamburger:hover span {
        transform: translateY(3px);
    }
    .hamburger:hover span:last-child {
        transform: translateY(-3px);
    }

/* HERO STYLING */
.hero_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    /* TITLE */
    .title h4 {
        font-size: 96px;
        font-weight: 800;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        transition: all ease 1s;
        cursor: pointer;
    }
    .title h4:hover,
    .title h4.active {
        color: #fff;
    }
    .title h4:nth-child(2) {
        margin-left: 100px;
    }
    .title h4:nth-child(3) {
        margin-left: 200px;
    }
    .title h4:nth-child(4) {
        margin-left: 300px;
    }

    /* IMAGES */
    .img_group {
        position: absolute;
        justify-content: center;
        align-items: center;
        width: calc(100% - 200px);
        z-index: -1;
        display: none;
    }
    .img_group.show {
        display: flex;
    }
    .img_group img {
        position: absolute;
        scale: 0.6;
    }
    .img_group img:nth-child(1) {
        transform: rotate(-10deg) translate(-900px, -105px);
    }
    .img_group img:nth-child(2) {
        transform: rotate(10deg) scale(1.0);
    }
    .img_group img:nth-child(3) {
        transform: rotate(10deg);
        right: 0;
    }

    /* OFFERLINE STYLING */
    .textscroller {
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 100%;
        overflow: hidden;
        background-color: #ffa25d;
        padding: 15px 0;
        text-align: center;
        max-height: 50px;
    }
    .textscroller p {
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }
    .textscroller_marquee {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        animation: marquee 30s linear infinite;
    }
    .textscroller_marquee:hover {
        animation-play-state: paused;
    }
    @keyframes marquee {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-50%, 0px, 0px)
        }
    }

/* STAR STYLING */
.star {
    position: absolute;
}
.star1 {
    top: 0%;
    left: -25%;
    z-index: -1;
    scale: 0.95;
}
.star2 {
    top: 70%;
    left: 20%;
    scale: 0.2;
}
.star3 {
    top: 4%;
    right: 12%;
    scale: 0.25;
}